body {
  font-family: 'Microsoft YaHei UI', Andale, sans-serif;
  font-size: 17px;
  font-weight: normal;

}

.dark-mode {
  background-color: black;
  color: white;

}




.root {
  justify-content: center;
  margin: auto;
  height: 100%
}

header {
  text-align: center;


}

nav {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: auto
  }

  li {
    display: inline-block;
  }

  li a,
  .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover,
  .dropdown:hover .dropbtn {
    background-color: green;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

}

.p {
  display: flex;
  align-items: center;
  line-height: 1.6;
  margin: 2em auto;

}

.contentimg {
  border-radius: 50px;
  padding: 20px;
  max-width: 200px;
  margin: 0 0 0 15px;
}

.modelport {
transform: scale(1.5);
}


table,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  line-height: 27px
}


td,
tr {
  border-bottom: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

tr:hover {
  background-color: #D6EEEE;
}

.dark-mode table,
.dark-mode th,
.dark-mode .tablehead,
.dark-mode td {
  border: 1px solid white;
}

.dark-mode tr:hover {
  background-color: rgb(8, 66, 8)
}


.dark-mode a:link {
  color: rgb(145, 232, 145);
}

.dark-mode a:visited {
  color: rgb(1, 151, 1);
}

.dark-mode a:active {
  color: rgb(213, 26, 213);
}





@media only screen and (max-width: 600px) {
  body {
    font-size: 14px
  }

  .contentimg {
    max-width: 100px;
  }

  ;
}

@media (prefers-color-scheme: dark) {



  body {
    background-color: black;
    color: white;

  }

  table,
  th,
  .tablehead,
  td {
    border: 1px solid white;
  }

  tr:hover {
    background-color: rgb(8, 66, 8)
  }


  a:link {
    color: rgb(145, 232, 145);
  }

  a:visited {
    color: rgb(1, 151, 1);
  }

  a:active {
    color: rgb(213, 26, 213);
  }
}